
@media screen and (min-width:701px)and (max-width:1024px) {

  //header

.header-top{
  font-size: 0.8em;
}
    /*nav*/
    #nav-movile {
        text-decoration: none;
        color: white;
        font-family: "roboto", sans-serif;
        font-weight: 500;
        flex-direction: row-reverse;
    
        ul {
          list-style-type: none;
        }
    
        a {
          color: azure;
          list-style-type: none;
        }
    
        li {
          list-style-type: none;
        }
      }
    
      //body
      
   
      h1 {
        color: whitesmoke;
        font-family: "roboto", sans-serif;
        font-weight: 500;
        font-size: 2.5em;
        border-radius: 10px;
      
      }
    
      h2 {
        font-family: "roboto", sans-serif;
        font-weight: 500;
        font-size: 20em;
        text-align: center;
        
        border-radius: 10px;
        color: white;
      }
    
      h3 {
        font-family: "roboto", sans-serif;
        font-weight: 500;
        font-size: 1.7em;
        margin-bottom: 30px;
      }
    
      p {
        font-family: "Arial", sans-serif;
        font-size: 1.5em;
      }
      
      
    
      /*Footer*/
      .footer {

        background-color: black;
        color: white;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 1fr;
        grid-template-areas: "foo-icon foo-text foo-social";
        margin-top: 20px;
      
        p {
          font-size: 1em;
        }
      
        #foo-icon {
          display: grid;
          grid-area: foo-icon;
        }
      
        #foo-text {
          display: grid;
          grid-area: foo-text;

          
        }
      
        #foo-social {
          display: grid;
          grid-area: foo-social;

        }
      }
    
      .texto-blanco {
        color: white;
      }
    
      
    
      #nav-movile {
        display: none;
      }

      #youtube-movile{
        display: none;
      }
      #youtube-desktop{
        display: none;
      }

      .flex-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      
      .flex {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .height-img-responsive{
        height: 300px;
      object-fit: cover;
      border-radius: 15px;
      box-shadow: 6px 20px 10px black;
      }

      .height-img-responsive2{
        height: 300px;
      object-fit: cover;
      border-radius: 15px;
      box-shadow: 6px 20px 10px black;
      }
    
}