@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

@import "var";
@import "_mixins";
@import "_calcular";

@import "_error404";
@import "_registro";
@import "responsive_movile";
@import "_responsive-desktop";
@import "responsive_tablet";
@import "_animaciones";




//body general

//complementos alineacion de texto
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.textleft {
  text-align: left;
}

.textright {
  text-align: right;
}

.textcenter {
  text-align: center;
}

.content-center {
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.texto-blanco {
  color: white;
}
//fin alineacion de texto

html {
  width: 100%;

}

body {
  margin: 0;
  background-image: url(/img/fondo-cielo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

//fin complementos body

//header 
header {
  height: 500px;
  background-size: 100%;

  img {
    width: 100%;
    height: 500px;
  }

  .header-top{
    position: absolute;
    z-index: 1;
    width: 100%;
    background-color: black;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .icon-header-top{
      width: 90px;
      height: 80px;
    }
    .text-header-top{
      color: rgb(161, 161, 161);
      font-size: 2.5em;
      font-style: italic;

      .textaux{
        color: $maincolor;
    font-family: "roboto", sans-serif;
    font-weight: 500;
    border-radius: 10px;
    
      }
    }
  }
}

//




//navbar

#nav-desktop {
  background-color: black;
  height: 47px;
  display: flex;
  align-content: center;
  justify-content: center;

  a {
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-family: "roboto", sans-serif;
    font-weight: 500;
    height: 100%;
    justify-items: center;
    align-items: center;
    display: flex;
  }

  ul {
    list-style-type: none;
    background-color: black;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-bottom: 0;
    margin-bottom: 0;

    
  }
  li:hover{
    background-color: rgb(20, 20, 20);

  }

  li {
    text-align: center;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;

    height: 100%;
    align-content: center;
    padding: 0;
  }

  li a:hover {
    background-color: rgb(20, 20, 20);
    font-size: 20px;
    border: rgb(20, 20, 20) solid 8px;
    color: $maincolor;
    border-radius: 10px;
    transition: all 1s;
  }


}

//inicio resolucion escritorio para resolver problemas
@media (min-width: 1200px) {

  #nav-movile {
    display: none;
  }

  #youtube-movile {

    display: none;

  }

  #youtube-tablet {
    display: none;
  }
  .movile {
    display: none;
  }
}

//fin resulucion para escritorio

//inicio resolucion movile para problemas

@media (max-width: 700px) {
  #nav-desktop {
    display: none;
  }
}

//fin resolucion movile

//fin navbar

//inicio main
main {




  h1 {
    color: $font-color-white;
    font-family: "roboto", sans-serif;
    font-weight: 500;
    font-size: 2.5em;
    border-radius: 10px;
    background-color: $maincolor;
    margin-bottom: 2em;


  }

  h2 {
    font-family: "roboto", sans-serif;
    font-weight: 500;
    font-size: 2em;
    text-align: center;
    background-color: $maincolor;
    border-radius: 10px;
    color: white;
    margin-bottom: 1.5em;



  }

  h3 {
    font-family: "roboto", sans-serif;
    font-weight: 500;
    font-size: 1.7em;
    margin-bottom: 30px;
    text-decoration: underline;

  }

  p {
    @include texto(1.2em, 1.8em);   //incluye mixtin escrito en _mixtin
    
  }

  section {
    width: 80%;
    background-color: $section-color;
    margin: auto;
    justify-content: center;
    justify-content: center;
    border-radius: 10px;
    margin-top: 25px;
    box-shadow:-1px 5px 5px 8px $section-color;
  }

  article {
    width: 80%;
    margin: auto;
    padding-bottom: 2rem;



    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  div {
    width: 100%;
    margin: auto;
    text-align: center;
    height: 100%;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .content-center {
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  li {
    text-align: left;
    list-style-type: decimal;
    font-size: 1.2rem;
  }



}

/*Footer*/

footer {

  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 1fr;
  grid-template-areas: "foo-icon foo-text foo-social";
  margin-top: 20px;

  p {
    font-size: 1em;
  }

  #foo-icon {
    display: grid;
    grid-area: foo-icon;
  }

  #foo-text {
    display: grid;
    grid-area: foo-text;
  }

  #foo-social {
    display: grid;
    grid-area: foo-social;
  }
}









.bg-withe {

  background-color: rgb(206, 204, 204);
}

.textjusti {
  text-align: justify;
}